.row.main-content
	.col-xs-12.col-sm-6.col-md-8.zone-content
		%article
			.published
				= @post.created_at.strftime("%b %d, %Y")
			%h1
				= link_to @post.title, @post
			.article-content
				= @post.content
		.clearfix
	.col-xs-6.col-md-4
		= render 'layouts/sidebar'