@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "custom";

body {
	
	padding-top: 60px;
	padding-bottom: 60px;
}

.header {
	margin-bottom: 30px;
	

	h3 {
		padding-bottom: 19px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 40px;
	}
}

.article-content {
    text-align: justify;
    text-justify: inter-word;
}

.alert-dismissable .close {
	top: -28px !important;
}

.panel-default {
	border: none;
}

.btn-social {
	margin-bottom: 10px;
	margin-top: -10px;
	height: 45px;
	padding: 9px; 
	font-size: 17px;
	text-decoration: none;

	
}

