.header
  %nav
    %ul.nav.nav-pills.pull-right
      %li{:role => "presentation", :class => "active"}
        = link_to "Home", '#'
      %li{:role => "presentation"}
        = link_to "About", '#'
      %li{:role => "presentation"}
        = link_to "Contact", '#'
    %h3.text-muted
      = "SamBlog"