.masthead.clearfix
  %nav
    %ul.nav.nav-pills.pull-right.ww-nav
      %li{:role => "presentation"}
        = link_to "Home", root_path
      %li{:role => "presentation"}
        = link_to "About", '#'
      %li{:role => "presentation"}
        = link_to "Contact", '#'
    
%hr